.navigation-link-1,
.navigation-link-2,
.navigation-link-3 {
  margin: 0 10px;
}

body,
p {
  max-width: 600px;
  text-align: center;
  margin: 30px auto;
}

img {
  display: block;
  margin: 30px auto;
  padding: 30px;
}

.c-pic {
  border-radius: 15px;
}
